{% extends 'base.html' %}
{% block title %}-Cart{% endblock title %}
{% block body %}
{% load cart %}
{% load custom_filter %}
    <div class="container">
        <div class="border rounded p-4 m-4">
            <div class="table-responsive">
                <p class="display-4 pl-4 ml-4">Your Orders</p>
                <table class="table table-light">
                    <thead>
                        <tr>
                            <th scope="col">S.no</th>
                            <th scope="col">Product Image</th>
                            <th scope="col">Product Name</th>
                            <th scope="col">Date</th>

                            <!-- <th scope="col">Date</th> -->
                            <th scope="col">Price</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Total</th>
                            <th scope="col">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for ord in order %}
                        <tr class="">
                            <td scope="row">{{ forloop.counter }}</td>
                            <td ><img src="{{ord.product.image.url}}" alt="{{product.name}}" height="80px" class="rounded-circle"></td>
                            <td>{{ord.product.name}}</td>
                            <td>{{ord.date}}</td>
                            <td>{{ord.price|currency}}</td>
                            <!-- <td>{{product.date}}</td> -->
                             <td>{{ord.quantity}}</td>
                            <td>{{ord.quantity|multiply:ord.price|currency}}</td> 
                            {% if ord.status %}
                            <td> <span class="badge text-bg-success">Completed</span> </p></td> 
                            {% else %}
                            <td><span class="badge text-bg-danger">Pending</span></td> 
                            

                            {% endif %}
                        </tr>
                        {% endfor %}
                        
                    </tbody>
                    
                </table>
            </div>
            
        </div>
        
    </div>

    


{% endblock body %}